*{
  transition: all 0.9s;
}




.main-heading
{
  color:#FE725C;
}

.sub-heading
{
  color: #222;
}

.banner {
  position: relative;
  min-height: 80vh;
min-width: 50vw;
  background: url(cool.svg);
background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darky
{
  color: #fff;
  background-color: #333;
}



.about
{
  text-align: center;
  background: #b38ba127;
}


.about span
{
  color: #FE725C;
}

/*! for the progress bar used in scrolling */
.header {
  position: fixed;
  top: 1;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background:#FE725C;
  width: 0%;
}

/*
progress::-moz-progress-bar { background: #FE725C; }
progress::-webkit-progress-bar {background-color: #FE725C; }
progress::-moz-progress-bar {background-color: #ccc !important;}

*/
progress::-webkit-progress-value {background-color: #FE725C !important;}
progress::-moz-progress-value {background-color: #FE725C !important;}


progress
{
  accent-color: red !important;
}


.color
{
  color: #F14668;
}


.content .servicesBx:hover
{
  color: #fff;
  background-color: #F14668;
  border-radius: 15px;
  box-shadow: 5px -1px 10px 3px rgba(0,0,0,0.5);
  /*
  scale: 1.1;
  box-shadow: .1px .1px 8px 1px  #333;*/
}


.content .servicesBx h2
{
  color: #F14668;
}


.servicesBx:hover i
{
  animation: round 1s ease-in-out;
}

@keyframes round 
{
0%{transform: rotate(0deg);}
15%{transform: rotate(60deg);}
30%{transform: rotate(120deg);}
45%{transform: rotate(180deg);}
60%{transform: rotate(240deg);}
75%{transform: rotate(300deg);}
100%{transform: rotate(360deg);}
}



.content .servicesBx:hover h2
{
color: #fff;
}


.content .workBx:hover
{
  scale: 1.1;
  box-shadow: 5px -1px 10px 3px  rgba(0,0,0,0.5);
  border-radius: 15px;
}


.testimonial .testimonialBx:hover
{
background-color: #F14668;
color: #fff;
box-shadow: 5px -1px 10px 3px  rgba(0,0,0,0.5);
}



.testimonial .testimonialBx .mainqoute 
{
color: #F14668;
}

.testimonial .testimonialBx:hover .mainqoute 
{
  color: #f1f1f1;
}


.testimonial .testimonialBx:hover .by1
 {
color: #fff;
}


.testimonial .testimonialBx .by2
{
  color: #fff;
opacity: 0;
}

.testimonial .testimonialBx:hover .by2
 {
  opacity: 1;

}


.contactinfo .contactinfoBx .box:hover
{
border: solid 1px #F14668;
}



